@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .writing-tb {
        writing-mode: horizontal-tb;
    }

    .writing-rl {
        writing-mode: vertical-rl;
    }

    .writing-lr {
        writing-mode: vertical-lr;
    }

    .mask-unset {
        mask: unset;
    }

    .mask-gradient-90-transparent-to-white {
        mask: linear-gradient(90deg, transparent, white 20%);
    }
    
    .bg-list-texture {
        background-image: url('/src/assets/img/list-bg-texture.png');
        background-repeat: repeat;
        background-size: 200px 200px;
        opacity: 0.15;
        mix-blend-mode: overlay;
    }
    
    .bg-layout {
        background-image: url('/images/layout-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}